/*font-family: 'Tajawal', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


html{
    font-size:16px;
}
*{
    margin:0;
    padding:0;
}

p{
    font-size:1.2rem;
    font-family:'Tajawal', sans-serif;
    line-height: 1.8rem;
    font-weight: 500;
    padding:0.6rem;

}

:root{
--mainColor:#60768e;
--secondColor:#e7d0c3;
}

.bg-square{
    
    border-style: solid;
    border-width: 5px;
    border-color: #fff;

}





.container{
    width:75%;

}


.uppertext{ /*spans upper the title*/
    font-weight:200;
    font-size:1rem;;

}

.headingh2{
    font-family: 'Tajawal', sans-serif;
    font-size:2.5rem;
    font-weight:800;
    line-height: 50pt;
}

.headingh3{
    font-family: 'Tajawal', sans-serif;
    font-size:2rem;
    font-weight:600;
    line-height: 50pt;
}


/*Header Part Start*/

.navbarBox{
    background-color:rgba(255,255,255,0.70);
    
}
.header{
background-image:  linear-gradient(to bottom, rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)),url(../img/headerBackground.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}


.logo{
    max-width: 175px;
    margin:auto;
}

.navbar{
    
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    
}
.navbar a{
    color:var(--mainColor) !important;
}



.consultationBtn{
text-decoration: none;
color: black;
background-color: var(--secondColor);
font-size: 1rem;
font-weight: 600;
text-decoration: none;
color:black;
padding:0.3rem 1.8rem;
}


.headerContent{
    color:#fff;
    font-family: 'Tajawal', sans-serif;
    padding: 1.875px;

}
/*
.headerContent{
    width:50%;
    color:#fff;
    font-family: 'Tajawal', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    padding: 30px;
}
*/

.underLinedText{
border-bottom: solid 2px var(--secondColor);
}

.headerContent p{

    margin-top: 1.25rem;

}

.headerContent h2{
    font-size:1.563rem;
    font-weight:800;
    line-height: 50pt;
}


.socialLinks i{
    background-color:white;
    color:var(--mainColor);
    width:30px;
    height:30px;
    font-size:0.938rem;
    line-height:30px;
    
}

.socialLinks i:hover{
    width:40px;
    height:40px;
    font-size:1.3rem;
    line-height:40px;
    color:black;

}
/*Header Part End*/

/*Myservice section start*/

.MyServices_items img{
width:100%;
}

.service-picture{

    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../img/services\ 1.jpg);
    max-height:75%;
    border-radius: 25px;

}
.service-picture:hover{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url('../img/services\ 1.jpg');
}

.service-pictureR{

    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../img/services\ 2.jpg);
    max-height:75%;
    border-radius: 25px;
    }
    
    .service-pictureR:hover{
        background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url('../img/services\ 2.jpg');



    }

.consutationTypes{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/danamcneil_work_2.jpg);
    background-position: center;
    background-size: cover;
    
}

.consutationTypes .col-md-6:hover i{
    font-size:3rem;
    color:var(--mainColor);
    background-color:var(--secondColor);

}



.consutationTypes i{
font-size:1.875rem;
background-color:#fff;
padding:1.3rem;
border-radius: 50%;
width:100px;
height:100px;
line-height: 50px;
color:black;

}


.consutationTypes h3{
color:white;
}

.consutationTypes p{
    color:white;
    }
    
/*Myservice section End*/


/*blog section start*/
.blog img:hover{
border-radius: 20px;
}


/*blog section end*/
/*Media start*/
.circle-rt{
    right: -20%;
    width: 40%;
    position: absolute;
    z-index: -1;
    top:0;
    bottom:0;
    margin:auto;

}
.circle-lt{
    left: -20%;
    width: 40%;
    position: absolute;
    z-index: -1;
    top:0;
    bottom:0;
    margin:auto;

}


.mediaTitle{
    font-size:2.5rem;
    font-family: 'Tajawal', sans-serif;
    color: #e6a678;
}

.mediaSectionimages{
    width:270px;
}
/*Media Ends*/



/* Footer Section Start*/
footer{
    background-color: var(--secondColor);
    color:var(--mainColor);

    
}

.pattern{
    background-color: #e7d0c3;
    background-image: linear-gradient(0deg, #e7d0c3 0%, #FFDEE9 100%);
    
}
/* Footer Section End*/


.blogthumbnail{
    width:200px;
    height:150px;
}


.add-course label{
    padding-top:0.6rem;
    padding-bottom: 0.3rem;
    color:#60768e;
}


.textJustify{
    text-align: justify;
  text-justify: inter-word;
}

.tab-content img{
    padding-bottom:0.6rem;
}


.tab-content h3{
    color:#60768e;
    font-family: 'Tajawal', sans-serif;
    font-size:1.25rem;
    font-weight:600;
    
}

.nav-link{
    color:#60768e !important;
    font-family: 'Tajawal', sans-serif !important;
    font-weight:600 !important;
}

